<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
      <input type="text" v-model="inputvalue1">
      <input type="text" v-model="inputvalue2">
      <p>{{message}}</p>
  </div>
</body>
</html>
<script>
  var vm = new Vue({
    el:'#app',
    data:{
        inputvalue1:'',
        inputvalue2:''
    },
    methods:{
    },
    computed:{
        'message':function(){
           return this.inputvalue1 + this.inputvalue2
        }
    }

 });
</script>
